@import "tailwindcss";

/* Dhivehi Font Support */
@font-face {
  font-family: 'Dhivehi';
  src: url('/fonts/Dhivehi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[dir="rtl"] {
  font-family: 'Dhivehi', sans-serif;
}
